body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
} 



.wrapper {
	max-width: 100%;
	
	
}

.navigation {
    background: #eeeee0;
    border-bottom: .2rem solid #d1d1d1;
    display: block;
    height: 5.6rem;
    width: 100%;
}

.login-area {
    color: #f0fff0;
    position: absolute;
    top: 10px;
    right: 10px;
	line-height: 5.2rem;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

.post-delete {
	color: blue;
	background-color: Pink;
	
}

.login-link {
    color: #0000ee;
    text-decoration: none;
}
.logout-link {

    color: #0000ee;
    text-decoration: none;
}

.btnLike {
    text-align: center;
    width: 150px;
    height: 55px;
    background-color: pink;
}

.login-link:visited {
    color: #9400d3;
}

.login-link:hover {
    text-decoration: underline;
}

.newpost-area {
    font-size: 14px;
    color: #0000ee;
    position: absolute;
    top: 10px;
    left: 10px;
}

.emptyBox {
    width: 130px;
    height: 55px;
}

.newpost-link {
	margin-left: 7px;
	margin-right: 7px;
    color: #0000ee;
    text-decoration: none;
}

.newpost-link:visited {
    color: #0000ee;
}

.login-link:hover {
    text-decoration: underline;
}

.login-link:visited {
    color: #0000ee;
}

.newpost-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    max-width: 36rem;
    font-size: 15px;
    padding: 2px;
    font-family: monospace;
	color: #0a0a0a;
}

input[type=password] {
    max-width: 24rem;
    font-size: 15px;
    padding: 2px;
    font-family: monospace;
	color: #0a0a0a;
}

textarea {
    width: 500px;
    height: 400px;
    font-size: 2rem;
    font-family: monospace;
}

.post {
	
    padding: 40px;
	
}

.newpost,.updatepost {
	background: #eeeee0; 
	
}   
.editDel {
	background: #eeeee0; 
	margin: 10px;
	padding: 20px;
	
}

.form-group {
	margin: 50px;
	
}

input[type=submit] {
    font-size: 2rem;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #d1d1d1;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    margin-top: 5px;
	margin-bottom: 10px;
}

a:hover,
    a:focus {
    padding: 8px 20px;
    background: #e6ffff;
    text-decoration: none;
    min-width: 42px;
    min-height: 42px;
}

.form__textarea {
	height: 10rem;
	border: none;
	padding-left: 0;
	font-size: 2.1rem;
}

.welcome {
	background: #eeeee0;
	max-width: 100%;
	height: 300px;
	text-align: center;
	color: #6495ed;
	font-size: 45px;
	padding-top: 150px;
	
}

footer {
    display: block;
    border: 2px solid #d1d1d1;
    margin-top: 600px;
    margin-left: -10px;
    padding: 5px;
    background: #eeeee0;
}



/* Set a style for all buttons */
button {
    background-color: #008b8b;
    color: white;
    padding: 14px 20px;
    margin-top: -3px;
    border: none;
    cursor: pointer;
    width: 40%;
	font-size: 2rem;
}

.signup-title, .login-title {
	font-weight: bold;
	color: #008b8b;
	margin-bottom: 2rem;

	
}



/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #a6a6a6;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 10%;
	font-size: 2rem;
}

/* Add padding to container elements */
.container {
	max-width: 40rem;
	margin: 0 auto;
	background-color: #eeeee0;
	border: .1rem solid #d1d1d1;
	padding: 3rem;
	border-radius: 2rem;
}

.form-control {
	margin-bottom: 20px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
	margin-bottom: 20px;
	
}
