{% extends "base.html" %}

{% block content %}
 
    <div class="container">
	<h2 class="login-title"> Login</h2>
	<form method="post">
    <label><b>Username</b></label>
	<input autofocus class="formName" placeholder="Username" type="text" name="username" value="{{username}}">

    <label><b>Password</b></label>
   	<input class="formName" placeholder="Password" type="password" name="password" value="">
	
      <div class="error">
        {{error}}
      </div>
	  <br>
      <div class="clearfix">
	  <input type="submit" class="btn btn-info" value="Login">
	  <input type="submit" class="btn btn-info" value="Cancel" onclick="window.location='/blog'; return false;">
	  </div>
	 </form>
	 </div>
    
{% endblock %}
