{% extends "base.html" %}

{% block content %}

    <div class="container">
	  <h2 class="signup-title">Signup</h2>
	   <form method="post">
	   <label><b>Username</b></label>
       <input type="text" placeholder="Username" name="username" value="{{username}}">
	<div class = "error">
      {{error_username}}
    </div>
	    <label><b>Password</b></label>
        <input type="password" placeholder="Password" name="password" value="">
	<div class = "error">
      {{error_password}}
    </div>
	    <label><b>Verify Password</b></label>
        <input type="password" name="verify" value="">
	<div class = "error">
      {{error_verify}}
    </div>
	   <label><b>Email (optional)</b></label>
    <input type="text" name="email" value="{{email}}">
	<div class = "error">
        {{error_email}}
    </div>
	<br>
	<div class="clearfix">
	  <input type="submit" class="btn btn-info" value="Submit">
	  <input type="submit" class="btn btn-info" value="Cancel" onclick="window.location='/blog'; return false;">
	  </div>
	  </form>
   </div>
    
  
{% endblock %}
